
.DS_Store
.DS_Store
.DS_Store
Figures/.DS_Store
Figures/Figure_1_TIFF.tiff
Reeves_Braun_et_al_2020_Kanjera_South_JHE_files/figure-latex/fig-1_Tiff.tiff
Reeves_Braun_et_al_2020_Kanjera_South_JHE_files/figure-latex/fig-2_TIFF.tiff
Reeves_Braun_et_al_2020_Kanjera_South_JHE_files/figure-latex/fig-3-_TIFF.tiff
Reeves_Braun_et_al_2020_Kanjera_South_JHE_files/figure-latex/fig-4_TIFF.tiff
Reeves_Braun_et_al_2020_Kanjera_South_JHE_files/figure-latex/fig-5_TIFF.tiff
Reeves_Braun_et_al_2020_Kanjera_South_JHE_files/figure-latex/fig-6_TIFF.tiff
Reeves_Braun_et_al_2020_Kanjera_South_JHE_files/figure-latex/fig-7_TIFF.tiff
.Rproj.user
.DS_Store
.Rhistory
Old
